.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    place-items: center;
    justify-content: space-evenly;
}

.message-container {
  padding: 10px;
}

.message-text {
  max-width: 80%; 
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}

.user {
  background-color: #e6e6e6;
}

.bot {
  background-color: #d9edf7;
}

.chat-submit{
  width: 40px;
  height: 15px;
  font-size: 8px;
}

.chat-textarea{
  margin-bottom: 10px;
  width: 85px;
  margin-left:7.5px;
  margin-right:7.5px;
  font-size: 8px;
}

p{
  width: 60%;
}

.chat-window-form{
  width:130px;
  height: 130px;
  display: grid;
  place-items: center;
  margin-left:0px;
}

/* tablet*/
@media (min-width: 550px) {
  .chat-submit{
    width: 50px;
    height: 18px;
    font-size: 11px;
  }

  .message-container {
    padding: 15px;
    width: 170px;
  }

  .chat-window-form{
    width:170px;
    height: 170px;
    margin-left: 0px;
  }
  
  .chat-textarea{
    margin-bottom: 10px;
    width: 160px;
    font-size: 11px;
    margin-left: 0px;
  }

}

/* desktop */
@media (min-width: 800px) {
  .chat-submit{
    width: 70px;
    height: 22px;
    font-size: 15px;
  }

  .message-container {
    padding: 10px;
    width: 250px;
  }

  .chat-window-form{
    width:250px;
    height: 250px;
    margin-left: 0px;
  }
  
  .chat-textarea{
    margin-bottom: 10px;
    width: 230px;
    font-size: 15px;
    margin-left:15px;
    margin-left: 7px;
  }


}